* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #f4f4f4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    display: inline-block;
    padding: 1rem;
    position: relative;
}

#navbar ul li a {
    color: #333;
    text-decoration: none;
}

/* hide nested ul by default */

#navbar ul li ul {
    display: none;
}

#navbar ul li:hover {
    cursor: pointer;
    background-color: coral;
    color: white;

}

#navbar ul li:hover a {
    color: white;
}

/* nested fropdown show */

#navbar ul li:hover ul {
    display: block;
}